.env
tmp.json
values.yaml
/deploy/templates/demo-ui/deployment.yml
/deploy/templates/demo-data/rabbitmq-operator-packagerepository.yaml
./deploy/templates/demo-data/rabbitmq-operator-packagerepository.yaml
./deploy/templates/demo-ui/deployment.yml
*.log
./deploy/templates/demo-app/deployment.yml
mds-locator
test.log
test.yaml
testing
.idea/
node_modules/
package-lock.json
package.json
creditcard.csv
temp.json
demo-ml/resources/gpdemo.pem
