/* You can add global styles to this file, and also import other style files */

.padding-s-100 {
  padding: 0 100px;
}

.padding-t-20 {
  padding-top: 20px;
}

.canvasjs-chart-credit {
  display: none !important;
}

.leaflet-container {
  height: 500px;
  position: inherit !important;
}

.leaflet-container .leaflet-pane {
  left: 22em;
  top: 30em;
}
