<div>
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Fraud Detection</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">john.doe@vmware.com</span>
      </a>
    </div>
  </header>
  <div class="padding-s-100 padding-t-20 clr-row">
    <div class="clr-col-4">
      <div class="clr-row">
        <div style='margin-bottom: 20px;'>
          <h3>On-going transaction</h3>
        </div>
      </div>
      <div class='clr-row' style='display: block; height: 30%'>
        <div *ngIf="onGoingTransaction;else noTransaction">
          <div><b>Card Number:</b> {{ currentCard }}</div>
          <div><b>Amount:</b> {{ currentAmount }}</div>
          <div><b>Card Type:</b> {{ currentTransactionType.replace('_', ' ') }}</div>
          <div><b>Location:</b> {{ currentLocation }}</div>
        </div>
        <ng-template #noTransaction>
          <div>No Live Transactions</div>
        </ng-template>
      </div>
      <div class='clr-row' *ngIf='showGraph()'>
        <canvasjs-chart [options]="chartOptions" [styles]="{height:'360px'}"></canvasjs-chart>
      </div>
      <!--<div class='clr-row' *ngIf='showGraph()'>
        <div leaflet [leafletOptions]="llOptions" [leafletLayers]="llLayers">
        </div>
      </div>-->
    </div>
    <div class="clr-col-8">
      <div class="clr-row" id="mlmodel-card">
        <div class="clr-col-lg-12 clr-col-12">
          <div class="card">
            <h3 class="card-header">Selected Model</h3>
            <div class="card-block">
              <h4 class="card-title" id="anomaly_detection_model_name"><b>({{selectedModel.name}})</b></h4>
              <div class="card-text">
                Stage: <b>{{selectedModel.current_stage}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <clr-datagrid>
        <clr-dg-action-bar>
          <div class="btn-group btn-align">
            <button type="button" class="btn btn-sm btn-primary" (click)="stop()">Stop</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="delete()">Delete</button>
          </div>
        </clr-dg-action-bar>
        <clr-dg-placeholder>No Transactions Found</clr-dg-placeholder>
        <clr-dg-column>Date Time</clr-dg-column>
        <clr-dg-column>Card Number</clr-dg-column>
        <clr-dg-column>Transaction Type</clr-dg-column>
        <clr-dg-column>Amount</clr-dg-column>
        <clr-dg-column>Location</clr-dg-column>
        <clr-dg-column>Info</clr-dg-column>

        <clr-dg-row *clrDgItems="let transaction of transactions" [clrDgItem]="transaction">
          <clr-dg-cell>
            <span>{{getDateTime(transaction.dateTime)}}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <span>{{transaction.cardNumber}}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <cds-icon *ngIf="transaction.transactionType === 'CREDIT_CARD';else notCreditCard" shape="credit-card"></cds-icon>
            <ng-template #notCreditCard>
              <cds-icon shape="credit-card" solid></cds-icon>
            </ng-template>
            <span>&nbsp;&nbsp;{{transaction.transactionType.replace('_', ' ')}}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <span>{{transaction.amount}}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <span>{{transaction.location}}</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <cds-icon *ngIf="transaction.isFraud;else notFraud" shape='alarm-clock' badge='danger'></cds-icon>&nbsp;
            <ng-template #notFraud>
              <cds-icon shape="success-standard"></cds-icon>
            </ng-template>
            <span [innerHTML]="getTransactionStatus(transaction)"></span>
            &nbsp;<a *ngIf="transaction.isFraud" (click)='showTransactionDetails(transaction)'><cds-icon shape='info-circle'></cds-icon></a>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="15">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Transactions per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} transactions
        </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>

<app-transaction-details [showDetails]='showDetails' [data]='fraudTransaction' (close)='showDetails=false'></app-transaction-details>
